<table class="table table-striped table-bordered table-compact">
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    {{#each product in bidProducts itemController='bid-product'}}
    {{#with product}}
    <tr>
      <td>{{product.name}}</td>
      <td {{bind-attr class=":amount bidActive"}}>
        {{#editable-number number=product.amount isEditing=isEditing editable=bidActive}}
          {{input type="number" min="0" value=product.amount}}
        {{/editable-number}}
        <button type="button" {{action "save"}} {{bind-attr class=":btn :btn-primary :btn-xs isDirty"}}>
          {{fa-icon "save"}}
        </button>
      </td>
      <td>{{product.price}}</td>
    </tr>
    {{/with}}
    {{/each}}
  </tbody>
</table>
