<table class="table table-striped table-bordered table-compact">
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Price</th>
      <th>Reserve</th>
      <th>Total price</th>
    </tr>
  </thead>
  <tbody>
    {{#each}}
    <tr>
      <td>{{name}}</td>
      <td>{{amount}}</td>
      <td>{{price}}</td>
      <td>{{input type='number' value=reserve min=0 max=amount}}</td>
      <td>{{totalPrice}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>